extends layout

block content
    h1 Done!
    p You'll receive the #{data.numLinks} links from #{data.baseUrl} sent to <i>#{data.recipientEmail}</i> every #{data.frequency} day(s).
    br
    p BlogBacklog does not own any of the content sent out. It is merely a tool to aid your consumption and reading of quality material on the internet.
    br
    p Happy reading!

    script(src='https://www.gstatic.com/firebasejs/8.3.1/firebase-app.js')
    script(src='https://www.gstatic.com/firebasejs/8.3.1/firebase-analytics.js')
    script(type='text/javascript').
        // Firebase Analytics
        var firebaseConfig = {
            apiKey: "AIzaSyDdSWtqKEVrt8plJcXISzql0tlaKqxe_b8",
            authDomain: "blogbacklog.firebaseapp.com",
            databaseURL: "https://blogbacklog.firebaseio.com",
            projectId: "blogbacklog",
            storageBucket: "blogbacklog.appspot.com",
            messagingSenderId: "943834384815",
            appId: "1:943834384815:web:40ba0c14f0009f6e40c75a",
            measurementId: "G-Z308M43D2X"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        const analytics = firebase.analytics();