extends layout

block content
    p Welcome to #{title}.
    p This tool allows you to deliver a series of extracted links regularly to your email, sort of like a time-shifted newsletter (but just the links, not the content behind them).
    p It's particularly useful for when you discover a blog with a history that you want to enjoy.
    hr
    p To get started, enter the URL of the page to extract links from — index pages of blogs work best:
    br
    form(name="inputUrl", action="/process/parse", method="post")
        div.input
            input(type="text", name="baseUrl", value=prefillUrl, class="textBox", id="urlInput")
        br
        div.action
            input(type="submit", value="Extract", class="button", id="submitButton")


    script(src='https://www.gstatic.com/firebasejs/8.3.1/firebase-app.js')
    script(src='https://www.gstatic.com/firebasejs/8.3.1/firebase-analytics.js')
    script(type='text/javascript').
        // Firebase Analytics
        var firebaseConfig = {
            apiKey: "AIzaSyDdSWtqKEVrt8plJcXISzql0tlaKqxe_b8",
            authDomain: "blogbacklog.firebaseapp.com",
            databaseURL: "https://blogbacklog.firebaseio.com",
            projectId: "blogbacklog",
            storageBucket: "blogbacklog.appspot.com",
            messagingSenderId: "943834384815",
            appId: "1:943834384815:web:40ba0c14f0009f6e40c75a",
            measurementId: "G-Z308M43D2X"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        const analytics = firebase.analytics();

        // Control submit button
        document.getElementById('submitButton').disabled = true;

        function isValidUrl(url) {
            return (url.length > 3);
        };

        document.getElementById('urlInput').addEventListener('input', function() {
            document.getElementById('submitButton').disabled = !isValidUrl(this.value);
        });

        document.getElementById('submitButton').onclick = () => {
            analytics.logEvent("site_parse_submission", {
                url: document.getElementById('urlInput').value
            });
        }